<html>
<head>
	<title>Admin Register</title>
	<a href="/back"><button>Back</button></a>
</head>
<body>
    <h2>Admin Register</h2>
    <form action="/admin_register" method="post">
        <label>Email:</label><br>
        <input type="text" name="email"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br><br>
		<label>Admin</label>
		<input type="checkbox" name="admin" value="1"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
