<html>
<head>
    <title>Admin Dashboard</title>
	<script src="{{ url_for('static', filename='on_exit.js') }}" defer></script>
</head>
<body>
    <h1>Welcome Admin, {{ email }}!</h1>
	<a href="/exam_data"><button>View Exam Data</button></a><br><br>
	<a href="/asset_data"><button>View Asset Data</button></a><br><br>
	<a href="/route_data"><button>View Route Data</button></a><br><br>
	<a href="/user_data"><button>View User Data</button></a><br><br>
	<a href="/admin_register"><button>Register Admin</button></a><br><br>
	<form action="/logout" method="GET" class="logout-form">
		<button type="submit" class="confirm-logout">Logout</button>
	</form>

</body>
</html>